body {
  background-color: rgba(153, 153, 153, 0.158);
}

.container {
  max-width: 1900px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.background-color {
  background-color: var(--light-blue);
}
.customerClientStatus_select__KryoZ {
  background-color: transparent !important;
}
